.SumoSelect .CaptionCont {
  box-shadow: none !important;
}
.SumoSelect label {
  margin-bottom: 0 !important;
  font-weight: 800;    
  font-size: 18px;
  color: $dark;

  @include hover-focus {
      color: $white;
  }
}
.CaptionCont.SelectBox {
  border-radius: $border-radius !important;
  border-color: #E5E5EA !important;
  border-width: 1.5px !important;
  height: $input-height-lg !important;
  padding-top: 12px !important;

  span {
      font-family: inherit !important;
  }

  span:not(.placeholder) {
      color: $dark !important;
      font-weight: 800 !important;
  }

  span.placeholder {
      color: #8E8E93 !important;
      font-weight: 400 !important;        
  }

  label {
      margin: 0 !important;

      &:after {
          top: 35% !important;
          right: 12px !important;
          border: none !important;
          content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.24751 11.1399L2.45127 5.6585C1.88551 5.01192 2.34469 4 3.20385 4H12.7963C13.6555 4 14.1147 5.01192 13.5489 5.6585L8.75266 11.1399C8.35425 11.5952 7.64592 11.5952 7.24751 11.1399Z' fill='%233A3A3C'/%3E%3C/svg%3E%0A") !important;
      }
  }
}
.SumoSelect .optWrapper {
  @extend .mt-0;
  border-bottom-left-radius: 19px !important;
  border-bottom-right-radius: 19px !important;

  li.opt{
      padding-top: 10px !important;        
      padding-bottom: 10px !important;        
  }

  li.opt:not(:last-child) {
      border-bottom: 1px solid $gray-400 !important;
  }

  li:hover label {
      @extend .text-white;
  }
}

.SumoSelect {
  cursor: pointer;
}
.SumoSelect .optWrapper {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}
.SumoSelect.open > .optWrapper {
  top: 50px !important;
}
.SumoSelect > .optWrapper > .options > li.opt {
  border-bottom: none !important;
  // padding-left: 14px !important;

  @include hover-focus {
      background-color: transparent !important;
      color: $primary !important;
  }
}
.SumoSelect label {
  font-size: 14px !important;  
  font-weight: 700 !important;
}
.SumoSelect .optWrapper li:hover label {    
  background-color: transparent !important;
  color: $primary !important;    
}

.SumoSelect:not(.open) .CaptionCont.SelectBox{
  @include form-control-hover;  
}

