@import 'variables';
@import 'listing';

.tt-title {
    color: $gray-100;
}

#tt-footer:not([class^="tt-footer-indent"]) {
    margin-top: 0;
}

.tt-promo02 {
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px 22px 20px 22px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 8%);
    position: relative;
    min-height: 180px;
    min-width: 283px;
    font-family: 'Exo 2';

    .tt-title {
        font-size: 20px;
        line-height: 1.2;
        font-family: 'Exo 2';
        margin: 20px 0 0px 0;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }


    .tt-icon {
        width: 40px;
        height: 40px;
        content: '';
        background-repeat: no-repeat;
        background-position: center;
    }

    .icon-f-48 {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.544 22.31L34.808 14.102C34.4111 12.907 33.6477 11.8674 32.6262 11.131C31.6048 10.3946 30.3772 9.99888 29.118 10H10.882C9.62278 9.99888 8.39523 10.3946 7.37377 11.131C6.35231 11.8674 5.5889 12.907 5.192 14.102L2.456 22.31C1.7286 22.6146 1.10742 23.1274 0.670469 23.7839C0.233514 24.4404 0.000261325 25.2114 0 26V32C0 33.476 0.808 34.752 2 35.446V38C2 38.5304 2.21071 39.0391 2.58579 39.4142C2.96086 39.7893 3.46957 40 4 40H6C6.53043 40 7.03914 39.7893 7.41421 39.4142C7.78929 39.0391 8 38.5304 8 38V36H32V38C32 38.5304 32.2107 39.0391 32.5858 39.4142C32.9609 39.7893 33.4696 40 34 40H36C36.5304 40 37.0391 39.7893 37.4142 39.4142C37.7893 39.0391 38 38.5304 38 38V35.446C38.6068 35.098 39.1111 34.5963 39.4623 33.9913C39.8134 33.3863 39.9989 32.6995 40 32V26C40 24.338 38.986 22.916 37.544 22.31ZM10.882 14H29.116C29.5359 13.9999 29.9452 14.132 30.2859 14.3775C30.6266 14.6231 30.8813 14.9696 31.014 15.368L33.226 22H6.774L8.984 15.368C9.258 14.55 10.022 14 10.882 14ZM7 32C6.6059 31.9999 6.21569 31.9221 5.85164 31.7712C5.4876 31.6202 5.15684 31.3991 4.87827 31.1203C4.31566 30.5573 3.99973 29.7939 4 28.998C4.00027 28.2021 4.3167 27.4389 4.87968 26.8763C5.44266 26.3137 6.20609 25.9977 7.002 25.998C7.79791 25.9983 8.56113 26.3147 9.12373 26.8777C9.68634 27.4407 10.0023 28.2041 10.002 29C10.0017 29.7959 9.6853 30.5591 9.12232 31.1217C8.55934 31.6843 7.79591 32.0003 7 32ZM33 32C32.2041 31.9997 31.4409 31.6833 30.8783 31.1203C30.3157 30.5573 29.9997 29.7939 30 28.998C30.0003 28.2021 30.3167 27.4389 30.8797 26.8763C31.4427 26.3137 32.2061 25.9977 33.002 25.998C33.7979 25.9983 34.5611 26.3147 35.1237 26.8777C35.6863 27.4407 36.0023 28.2041 36.002 29C36.0017 29.7959 35.6853 30.5591 35.1223 31.1217C34.5593 31.6843 33.7959 32.0003 33 32ZM6.554 6C7.248 7.19 8.524 8 10 8C11.476 8 12.752 7.19 13.446 6H26.556C27.248 7.19 28.524 8 30 8C31.476 8 32.752 7.19 33.446 6H30V2H33.446C32.752 0.81 31.476 0 30 0C28.524 0 27.248 0.81 26.554 2H13.446C12.752 0.81 11.476 0 10 0C8.524 0 7.248 0.81 6.554 2H10V6H6.554Z' fill='%238E8E93'/%3E%3C/svg%3E%0A");
    }

    .icon-f-35 {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='34' height='38' viewBox='0 0 34 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.15249 3.621C8.60649 2.42 12.6325 1 17.0385 1C21.3525 1 25.2725 2.361 27.7135 3.546L27.8515 3.613C28.5875 3.977 29.1815 4.321 29.5995 4.6L25.9055 10C34.4215 18.706 40.9995 36.997 17.0385 36.997C-6.92251 36.997 -0.521508 19.038 8.06849 10L4.39849 4.6C4.68149 4.415 5.04049 4.2 5.46849 3.972C5.68049 3.858 5.90849 3.74 6.15249 3.621ZM23.5315 9.928L26.4885 5.605C23.7385 5.803 20.4665 6.449 17.3165 7.361C15.0665 8.011 12.5665 7.912 10.2515 7.485C9.66812 7.37685 9.08876 7.2481 8.51449 7.099L10.4345 9.926C14.5495 11.391 19.4155 11.391 23.5315 9.928ZM9.27949 11.63C14.0945 13.49 19.8815 13.49 24.6965 11.628C26.7064 13.7467 28.3877 16.1544 29.6845 18.771C31.0365 21.529 31.7725 24.286 31.6525 26.662C31.5365 28.955 30.6345 30.914 28.5745 32.37C26.4275 33.887 22.8165 34.997 17.0375 34.997C11.2525 34.997 7.62449 33.906 5.45749 32.406C3.38249 30.968 2.47149 29.036 2.34249 26.774C2.20749 24.424 2.92749 21.681 4.27449 18.904C5.55949 16.256 7.35249 13.707 9.27949 11.63ZM8.12949 4.916C8.92949 5.154 9.76549 5.361 10.6135 5.518C12.7635 5.914 14.9195 5.972 16.7595 5.439C18.9037 4.81434 21.0846 4.32307 23.2895 3.968C21.4495 3.414 19.2975 3 17.0375 3C13.5925 3 10.3795 3.961 8.12949 4.916Z' fill='%238E8E93'/%3E%3Cpath d='M24.2855 20.9288H22.6195C22.6581 20.7166 22.6778 20.5015 22.6784 20.2859C22.6768 20.0724 22.6589 19.8592 22.6249 19.6484H24.1945C24.3081 19.6484 24.4171 19.6033 24.4975 19.5229C24.5779 19.4425 24.623 19.3335 24.623 19.2199C24.623 19.1062 24.5779 18.9972 24.4975 18.9168C24.4171 18.8364 24.3081 18.7913 24.1945 18.7913H22.3892C22.0437 17.9573 21.4566 17.2458 20.7033 16.7484C19.95 16.2509 19.0651 15.9904 18.1624 16.0003H13.5715C13.4294 16.0003 13.2931 16.0567 13.1927 16.1572C13.0922 16.2576 13.0357 16.3939 13.0357 16.536V18.7859H11.4286C11.315 18.7859 11.206 18.8311 11.1256 18.9115C11.0452 18.9918 11.0001 19.1008 11.0001 19.2145C11.0001 19.3282 11.0452 19.4372 11.1256 19.5175C11.206 19.5979 11.315 19.6431 11.4286 19.6431H13.0357V20.9288H11.4286C11.315 20.9288 11.206 20.9739 11.1256 21.0543C11.0452 21.1346 11.0001 21.2437 11.0001 21.3573C11.0001 21.471 11.0452 21.58 11.1256 21.6604C11.206 21.7407 11.315 21.7859 11.4286 21.7859H13.0357V30.4643C13.0357 30.6064 13.0922 30.7426 13.1927 30.8431C13.2931 30.9436 13.4294 31 13.5715 31C13.7135 31 13.8498 30.9436 13.9503 30.8431C14.0507 30.7426 14.1072 30.6064 14.1072 30.4643V24.5715H18.1624C19.0643 24.5811 19.9485 24.3211 20.7016 23.8248C21.4547 23.3284 22.0423 22.6185 22.3892 21.7859H24.2855C24.3992 21.7859 24.5082 21.7407 24.5886 21.6604C24.669 21.58 24.7141 21.471 24.7141 21.3573C24.7141 21.2437 24.669 21.1346 24.5886 21.0543C24.5082 20.9739 24.3992 20.9288 24.2855 20.9288ZM14.1072 17.0717H18.1624C18.7756 17.0647 19.3797 17.2195 19.9139 17.5205C20.4481 17.8214 20.8935 18.2579 21.2052 18.7859H14.1072V17.0717ZM14.1072 19.6431H21.5374C21.6303 20.0666 21.6303 20.5052 21.5374 20.9288H14.1072V19.6431ZM18.1624 23.5001H14.1072V21.7859H21.2052C20.8935 22.3139 20.4481 22.7504 19.9139 23.0513C19.3797 23.3523 18.7756 23.5071 18.1624 23.5001Z' fill='%238E8E93'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.15249 3.621C8.60649 2.42 12.6325 1 17.0385 1C21.3525 1 25.2725 2.361 27.7135 3.546L27.8515 3.613C28.5875 3.977 29.1815 4.321 29.5995 4.6L25.9055 10C34.4215 18.706 40.9995 36.997 17.0385 36.997C-6.92251 36.997 -0.521508 19.038 8.06849 10L4.39849 4.6C4.68149 4.415 5.04049 4.2 5.46849 3.972C5.68049 3.858 5.90849 3.74 6.15249 3.621ZM23.5315 9.928L26.4885 5.605C23.7385 5.803 20.4665 6.449 17.3165 7.361C15.0665 8.011 12.5665 7.912 10.2515 7.485C9.66812 7.37685 9.08876 7.2481 8.51449 7.099L10.4345 9.926C14.5495 11.391 19.4155 11.391 23.5315 9.928ZM9.27949 11.63C14.0945 13.49 19.8815 13.49 24.6965 11.628C26.7064 13.7467 28.3877 16.1544 29.6845 18.771C31.0365 21.529 31.7725 24.286 31.6525 26.662C31.5365 28.955 30.6345 30.914 28.5745 32.37C26.4275 33.887 22.8165 34.997 17.0375 34.997C11.2525 34.997 7.62449 33.906 5.45749 32.406C3.38249 30.968 2.47149 29.036 2.34249 26.774C2.20749 24.424 2.92749 21.681 4.27449 18.904C5.55949 16.256 7.35249 13.707 9.27949 11.63ZM8.12949 4.916C8.92949 5.154 9.76549 5.361 10.6135 5.518C12.7635 5.914 14.9195 5.972 16.7595 5.439C18.9037 4.81434 21.0846 4.32307 23.2895 3.968C21.4495 3.414 19.2975 3 17.0375 3C13.5925 3 10.3795 3.961 8.12949 4.916Z' stroke='%238E8E93' stroke-width='0.5'/%3E%3Cpath d='M24.2855 20.9288H22.6195C22.6581 20.7166 22.6778 20.5015 22.6784 20.2859C22.6768 20.0724 22.6589 19.8592 22.6249 19.6484H24.1945C24.3081 19.6484 24.4171 19.6033 24.4975 19.5229C24.5779 19.4425 24.623 19.3335 24.623 19.2199C24.623 19.1062 24.5779 18.9972 24.4975 18.9168C24.4171 18.8364 24.3081 18.7913 24.1945 18.7913H22.3892C22.0437 17.9573 21.4566 17.2458 20.7033 16.7484C19.95 16.2509 19.0651 15.9904 18.1624 16.0003H13.5715C13.4294 16.0003 13.2931 16.0567 13.1927 16.1572C13.0922 16.2576 13.0357 16.3939 13.0357 16.536V18.7859H11.4286C11.315 18.7859 11.206 18.8311 11.1256 18.9115C11.0452 18.9918 11.0001 19.1008 11.0001 19.2145C11.0001 19.3282 11.0452 19.4372 11.1256 19.5175C11.206 19.5979 11.315 19.6431 11.4286 19.6431H13.0357V20.9288H11.4286C11.315 20.9288 11.206 20.9739 11.1256 21.0543C11.0452 21.1346 11.0001 21.2437 11.0001 21.3573C11.0001 21.471 11.0452 21.58 11.1256 21.6604C11.206 21.7407 11.315 21.7859 11.4286 21.7859H13.0357V30.4643C13.0357 30.6064 13.0922 30.7426 13.1927 30.8431C13.2931 30.9436 13.4294 31 13.5715 31C13.7135 31 13.8498 30.9436 13.9503 30.8431C14.0507 30.7426 14.1072 30.6064 14.1072 30.4643V24.5715H18.1624C19.0643 24.5811 19.9485 24.3211 20.7016 23.8248C21.4547 23.3284 22.0423 22.6185 22.3892 21.7859H24.2855C24.3992 21.7859 24.5082 21.7407 24.5886 21.6604C24.669 21.58 24.7141 21.471 24.7141 21.3573C24.7141 21.2437 24.669 21.1346 24.5886 21.0543C24.5082 20.9739 24.3992 20.9288 24.2855 20.9288ZM14.1072 17.0717H18.1624C18.7756 17.0647 19.3797 17.2195 19.9139 17.5205C20.4481 17.8214 20.8935 18.2579 21.2052 18.7859H14.1072V17.0717ZM14.1072 19.6431H21.5374C21.6303 20.0666 21.6303 20.5052 21.5374 20.9288H14.1072V19.6431ZM18.1624 23.5001H14.1072V21.7859H21.2052C20.8935 22.3139 20.4481 22.7504 19.9139 23.0513C19.3797 23.3523 18.7756 23.5071 18.1624 23.5001Z' stroke='%238E8E93' stroke-width='0.5'/%3E%3C/svg%3E%0A");
    }

    .icon-e-09 {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='41' height='42' viewBox='0 0 41 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 16H24V10H30V6H24V0H20V6H14V10H20V16ZM12 34C10.9391 34 9.92172 34.4214 9.17157 35.1716C8.42143 35.9217 8 36.9391 8 38C8 39.0609 8.42143 40.0783 9.17157 40.8284C9.92172 41.5786 10.9391 42 12 42C13.0609 42 14.0783 41.5786 14.8284 40.8284C15.5786 40.0783 16 39.0609 16 38C16 36.9391 15.5786 35.9217 14.8284 35.1716C14.0783 34.4214 13.0609 34 12 34ZM32 34C30.9391 34 29.9217 34.4214 29.1716 35.1716C28.4214 35.9217 28 36.9391 28 38C28 39.0609 28.4214 40.0783 29.1716 40.8284C29.9217 41.5786 30.9391 42 32 42C33.0609 42 34.0783 41.5786 34.8284 40.8284C35.5786 40.0783 36 39.0609 36 38C36 36.9391 35.5786 35.9217 34.8284 35.1716C34.0783 34.4214 33.0609 34 32 34ZM12.34 27.5L12.4 27.26L14.2 24H29.1C30.6 24 31.92 23.18 32.6 21.94L40.32 7.92L36.84 6H36.82L34.62 10L29.1 20H15.06L14.8 19.46L10.32 10L8.42 6L6.54 2H0V6H4L11.2 21.18L8.5 26.08C8.18 26.64 8 27.3 8 28C8 29.0609 8.42143 30.0783 9.17157 30.8284C9.92172 31.5786 10.9391 32 12 32H36V28H12.84C12.58 28 12.34 27.78 12.34 27.5Z' fill='%238E8E93'/%3E%3C/svg%3E%0A");
    }

    .icon-e-28 {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 3L6 9V27C6 36.9422 14.0578 45 24 45C33.9422 45 42 36.9422 42 27V9L24 3ZM38.625 27C38.625 35.0766 32.0766 41.625 24 41.625C15.9234 41.625 9.375 35.0766 9.375 27V11.5312L24 6.375L38.625 11.5312V27Z' fill='%238E8E93'/%3E%3Cpath d='M17.7374 22.2703C17.581 22.1132 17.3951 21.9885 17.1904 21.9034C16.9856 21.8184 16.7661 21.7746 16.5444 21.7746C16.3227 21.7746 16.1032 21.8184 15.8985 21.9034C15.6938 21.9885 15.5079 22.1132 15.3514 22.2703C15.1943 22.4267 15.0697 22.6126 14.9846 22.8173C14.8995 23.0221 14.8557 23.2416 14.8557 23.4633C14.8557 23.685 14.8995 23.9045 14.9846 24.1092C15.0697 24.3139 15.1943 24.4998 15.3514 24.6563L21.4171 30.7219L21.5155 30.8203C21.6635 30.9685 21.8392 31.0861 22.0326 31.1664C22.2261 31.2466 22.4334 31.2879 22.6429 31.2879C22.8523 31.2879 23.0596 31.2466 23.2531 31.1664C23.4465 31.0861 23.6223 30.9685 23.7702 30.8203L34.2468 20.3438C34.395 20.1958 34.5126 20.0201 34.5928 19.8266C34.673 19.6332 34.7143 19.4258 34.7143 19.2164C34.7143 19.007 34.673 18.7996 34.5928 18.6062C34.5126 18.4127 34.395 18.237 34.2468 18.0891L34.1155 17.9578C33.9676 17.8096 33.7918 17.692 33.5984 17.6118C33.405 17.5315 33.1976 17.4902 32.9882 17.4902C32.7787 17.4902 32.5714 17.5315 32.3779 17.6118C32.1845 17.692 32.0088 17.8096 31.8608 17.9578L22.6405 27.1734L17.7374 22.2703Z' fill='%238E8E93'/%3E%3C/svg%3E%0A");
    }

    a {
        text-decoration: none;
        pointer-events: none;
    }
}

.tt-block-title .tt-title {
    font-size: inherit;
    font-weight: inherit;

    &:first-child {
        color: #313131;
        margin: 0;
        padding: 0;
        font-size: 48px;
    }

    &.tt-block-title-border {
        margin-bottom: 34px !important;
    }
}


@media (min-width: 576px) {
    .elementor-section.elementor-section-boxed.default>.elementor-container {
        max-width: 100%;
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .elementor-section.elementor-section-boxed.default>.elementor-container {
        max-width: 100%;
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .elementor-section.elementor-section-boxed.default>.elementor-container {
        max-width: 100%;
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .elementor-section.elementor-section-boxed.default>.elementor-container {
        max-width: calc(1399px - 28px);
    }

    .elementor-section.elementor-section-boxed >.elementor-container {
        max-width: calc(1399px - 28px);
    }
}

@media (min-width: 1920px) {
    .elementor-section.elementor-section-boxed.default>.elementor-container {
        max-width: calc(1720px - 28px);
    }

    .elementor-section.elementor-section-boxed >.elementor-container {
        max-width: calc(1720px - 28px);
    }
}


@media (min-width: 2260px) {
    .elementor-section.elementor-section-boxed.default>.elementor-container {
        max-width: calc(1880px - 28px);
    }

    .elementor-section.elementor-section-boxed >.elementor-container {
        max-width: calc(1880px - 28px);
    }
}

.tt-skinSelect-01  {
    .SumoSelect {
        .optWrapper > .options li.opt:hover {
            background-color: transparent;

            label {
                color: $red !important;
            }
        }

        .optWrapper>.options {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}