@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/**
* Responsive variables
*/
.tt-search-filter-wrapper {
  background: #fff !important;
}

.tt-show {
  color: #313131;
  font-family: "Exo 2";
  white-space: nowrap;
  font-size: 20px;
  line-height: 24px;
}

.tt-search-filter .tt-icon-filter {
  color: #9A9A9A;
}

.tt-col-select.visible-desctope.tt-skinSelect-01 {
  flex: 1;
}
.tt-col-select.visible-desctope.tt-skinSelect-01 .SumoSelect {
  flex: 1;
}
.tt-col-select.visible-desctope.tt-skinSelect-01 .SumoSelect.disabled .SelectBox {
  cursor: not-allowed;
}

.SumoSelect.disabled .SelectBox, .SumoSelect.disabled .placeholder, .SumoSelect.disabled .CaptionCont > label {
  cursor: not-allowed !important;
}

.tt-search-filter > div.tt-col-title {
  padding-right: 70px;
}

.tt-search-filter .tt-icon-filter {
  margin-top: 5px;
}

form#tt-filters-aside.home {
  padding: 0 !important;
}
form#tt-filters-aside.home .container {
  padding: 0;
  margin: 0;
}

.tt-search-filter .tt-col-select.visible-device .tt-custom-mobile {
  overflow: initial !important;
}

@media (max-width: 540px) {
  .tt-search-filter .tt-col-select.visible-device .tt-custom-mobile .tt-col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important;
  }

  .tt-search-filter .tt-col-select.visible-device .tt-custom-mobile {
    gap: 10px;
  }
}
@media (max-width: 1024px) {
  .tt-search-filter .tt-icon-filter {
    display: none;
  }

  form#tt-filters-aside.home {
    padding: 30px 0 0 0 !important;
  }
  form#tt-filters-aside.home .tt-search-filter > div.tt-col-title {
    background: transparent !important;
  }
  form#tt-filters-aside.home .tt-search-filter > div.tt-col-title::before {
    top: 1px;
  }
  form#tt-filters-aside.home .tt-search-filter > div.tt-col-title .tt-close {
    display: inline-block;
    margin-left: 19px;
  }
  form#tt-filters-aside.home .tt-search-filter .tt-col-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background: transparent !important;
    border: 2px solid #48484A;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    color: #48484A;
    line-height: 24px;
    padding: 12px 0;
  }
  form#tt-filters-aside.home .tt-search-filter .tt-col-select.visible-device {
    background-color: #313131;
    padding: 25px 30px !important;
  }
  form#tt-filters-aside.home .tt-search-filter > div.tt-col-select .tt-btn .btn {
    height: auto;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 0;
  }
  form#tt-filters-aside.home .tt-search-filter > div.tt-col-select .tt-btn [class^=icon-] {
    font-size: 15px;
  }
}
#tt-detach-search-madal {
  display: none !important;
}

.tt-search-filter > div.tt-col-btn .btn {
  height: 46px !important;
}

/*# sourceMappingURL=search_form.css.map */
